.cart {
  display: flex;
  align-items: flex-start;
}
.cart_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 70%;
}
.cart_list + div {
  flex: 35% 0 0;
}
.cart_itemss {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart_items > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product_cart_item {
  width: 30%;
}
.btn_rmv_cart {
  width: 250px;
  margin: 30px;
}
.cart_list--empty {
  align-items: center;
}
